form {
  display: grid;
  justify-content: center;

  input {
    border: none;
    font-size: 90%;
    padding-left: 10px;

    &:focus {
      outline: none;
    }
  }

  .button-wrapper {
    padding-top: 20px;
    display: inherit;
    justify-content: inherit;
  }
}

.animal {
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    color: #0087cb;
  }
}
