@mixin formSubstance {
  display: grid;
  justify-content: center;

  input {
    border: none;
    font-size: 90%;
    padding-left: 10px;

    &:focus {
      outline: none;
    }
  }

  .buttonWrapper {
    padding-top: 20px;
    display: inherit;
    justify-content: inherit;
  }
}
