@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 95%;
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-weight: 900;
  display: grid;
  align-content: center;
  justify-content: center;
}
